# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
zap
zap.exe

# CMake
cmake_build_debug/
cmake_build_release/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
Testing/
.vscode/
*.log
